@model ApotheGSF.ViewModels.MedicamentosViewModel

@{
    ViewData["Title"] = "Delete";
}
<h3 class="text-center"><i class="fas fa-capsules"></i>&nbsp;Eliminar Medicamento&nbsp<i class="fas fa-capsules"></i></h3>


<div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-8">
    <div class="card">
        <div class="card-header text-center" style="background-color:#E8E8E8;">
            <h3>Esta seguro que desea eliminar este Medicamento?</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Codigo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Codigo)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.NombreProveedor)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.NombreProveedor)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Categoria)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sustancia)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sustancia)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Concentracion)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Concentracion)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Cajas)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Cajas)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.UnidadesCaja)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.UnidadesCaja)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Costo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Costo)
                </dd>
                <dt class="col-sm-6">
                    Precio Caja
                </dt>
                <dd class="col-sm-6">
                    <text>@(Model.PrecioUnidad * Model.UnidadesCaja)</text>
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrecioUnidad)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrecioUnidad)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Indicaciones)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Indicaciones)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Dosis)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Dosis)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Creado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Creado)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CreadoNombreUsuario)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreadoNombreUsuario)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Modificado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Modificado)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ModificadoNombreUsuario)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ModificadoNombreUsuario)
                </dd>
            </dl>
        </div>

        <div class="card-footer text-end" style="background-color:#E8E8E8;">
            <form asp-action="Delete" id="form">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="hidden" asp-for="Codigo" />
                    </div>
                    <div class="col-sm-4 text-center">
                        <button onclick="Confirmar()" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Eliminar</button>
                    </div>
                    <div class="col-sm-4 text-end">
                        <a asp-action="Index" type="button" class="btn" style="background-color:white;color:red;"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function Confirmar() {
            if (confirm("Esta seguro que desea eliminarlo?")) {
                $.ajax({
                    data: $('#form').serialize(),
                    type: "POST",
                    url: "/Medicamentos/Delete",
                    success: function(response) {
                        if (response) {
                            window.location.href = "/Home/Index?Mensaje=Se ha eliminado exitosamente!!!";
                        }
                    },
                });
            }
        }
    </script>
    }