@model ApotheGSF.Models.Medicamentos

@{
    ViewData["Title"] = "Details";
}
<h3 class="text-center"><i class="fas fa-list"></i>&nbsp;Detalle Medicamento&nbsp<i class="fas fa-list"></i></h3>

<div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-12">
    <div class="card">
        <div class="card-header text-center" style="background-color:#E8E8E8">
            <h3>Información del Medicamento</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <dl class="row">                        
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Codigo)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Codigo)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.NombreCientifico)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.NombreCientifico)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Categoria)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Categoria)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Sustancia)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Sustancia)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Concentracion)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Concentracion)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.UnidadesCaja)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.UnidadesCaja)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Reorden)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Reorden)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Detallable)
                        </dt>
                        <dd class="col-sm-6">
                            @if(Model.Detallable)
                            {
                                @:Si
                            }
                            else
                            {
                                @:No
                            }
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Creado)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Creado)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.CreadoNombreUsuario)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.CreadoNombreUsuario)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Modificado)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Modificado)
                        </dd>
                        <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.ModificadoNombreUsuario)
                        </dt>
                        <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.ModificadoNombreUsuario)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-8">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    Caja
                                </th>
                                <th>
                                    Cantidad Unidad
                                </th>
                                <th>
                                    Fecha Vencimiento
                                </th>
                                <th>
                                    Detallada
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Inventario)
                            {
                                <tr class="text-end">
                                    <td>
                                        @item.Codigo |
                                    </td>
                                    <td>
                                        @item.CantidadUnidad |
                                    </td>
                                    <td>
                                        @item.FechaVencimiento.ToString("dd/MM/yyyy") |
                                    </td>
                                    <td>
                                        @if (item.Detallada == true)
                                        {
                                            @:Si |
                                        }
                                        else
                                        {
                                            @:No |
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "MedicamentosCajas", new { id = item.Codigo})" style="color:#FFB300;"><i class="fas fa-pencil-alt"></i></a> |
                                        <a href="@Url.Action("Details", "MedicamentosCajas", new { id = item.Codigo})" style="color:black;"><i class="fas fa-align-justify"></i></a> |
                                        <a href="@Url.Action("Delete", "MedicamentosCajas", new { id = item.Codigo})" style="color:#CC2200;"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <nav aria-label="navigation">
                            <vc:pager paging-list="ViewBag.Inventario" />
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer" style="background-color:#E8E8E8">
            <form asp-action="Details">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="hidden" asp-for="Codigo" />
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4 text-end">
                        <a asp-action="Index" type="button" class="btn" style="background-color:white;color:red;"><i class="fas fa-times"></i>&nbsp;Cerrar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
