@model ApotheGSF.ViewModels.MedicamentosViewModel

@{
    ViewData["Title"] = "Details";
}
<h3><i class="fas fa-list"></i>&nbsp;Detalle Medicamento</h3>

<h3>Aqui estan los datos del Medicamento</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sustancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sustancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concentracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concentracion)
        </dd>         
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cajas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cajas)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadesCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadesCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indicaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indicaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosis)
        </dd>
    </dl>
    
    <form asp-action="Details">
        <input type="hidden" asp-for="Codigo" />
        <a asp-action="Index" type="button" class="btn btn-danger"><i class="fas fa-times"></i>&nbsp;Cerrar</a>
    </form>
</div>