@model IEnumerable<ApotheGSF.ViewModels.MedicamentosViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3><i class="fas fa-capsules"></i>&nbsp;Menu Medicamento</h3>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sustancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cajas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sustancia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cajas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
