@model ReflectionIT.Mvc.Paging.PagingList<ApotheGSF.ViewModels.MedicamentosViewModel>
@using ApotheGSF.Models;
@using ReflectionIT.Mvc.Paging;

@{
    ViewData["Title"] = "Index";
}

<div class="form-group row">
    <div class="col-sm-3">
        <div class="row">
            <form method="get" class="form-inline" asp-action="Index">
                <div class="input-group mb-3">
                    <input type="text" id="filter" name="filter" class="form-control" placeholder="Filtro"
                           aria-label="Filtro" aria-describedby="btnSubmit"
                           value="@Model.RouteValue["Filter"]" />
                    <button class="btn btn-outline-secondary" type="submit" id="btnSubmit">Buscar</button>
                </div>
                <input type="hidden" value="1" name="search" />
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <h3 class="text-center"><i class="fas fa-capsules"></i>&nbsp;Consultas de Medicamentos&nbsp<i class="fas fa-capsules"></i></h3>
    </div>
    <div class="col-sm-3">
    </div>
</div>

<div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-12">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.SortableHeaderFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Sustancia)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Cajas)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sustancia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cajas)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Codigo" style="color:#FFB300;"><i class="fas fa-pencil-alt"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Codigo" style="color:black;"><i class="fas fa-align-justify"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Codigo" style="color:#CC2200;"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="card-footer text-center">
            <button class="btn" onclick='Reporte("@ViewBag.Filtro")' style="color:#00308F;">Generar Reporte</button>
        </div>
    </div>
</div>



<div class="text-center">
    <nav aria-label="navigation">
        <vc:pager paging-list="@Model" />
    </nav>
</div>

@section Scripts {
    <script>
        function Reporte(filtro) {
            var url = '@Url.Action("ReporteInventario","Medicamentos")?filter=' + filtro;
            window.open(url, "_blank");
        };
    </script>

    }