@model IEnumerable<ApotheGSF.ViewModels.MedicamentosViewModel>

@{
    Layout = "_LayoutPDF";
}

<div class="container p-1 rounded col-md-12" style="background-color:black;">
    <div class="card">
        <table class="table">
            <thead style="background-color:#EFEFEF;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sustancia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cajas)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sustancia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cajas)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>