@model IEnumerable<ApotheGSF.ViewModels.MedicamentosViewModel>

@{
    Layout = null;
}
<div class="text-center">
    <h1>Botica Popular</h1>
    <h2>Santa Rosa de Lima</h2>

    <p>Tel..: 8X9-XXX-XXXX</p>
    <p>Avenida XXXXXX C/XX No.XX<p>
</div>


        <hr />
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreProveedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sustancia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Costo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cajas)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreProveedor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sustancia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cajas)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <hr />