@model ApotheGSF.Models.Proveedores

@{
    ViewData["Title"] = "Delete";
}
<h3 class="text-center"><i class="fas fa-flask"></i>&nbsp;Eliminar Proveedor&nbsp<i class="fas fa-flask"></i></h3>

<div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-8">
    <div class="card">
        <div class="card-header text-center" style="background-color:#E8E8E8;">
            <h3>Esta seguro que desea eliminar este Proveedor?</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Codigo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Codigo)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.RNC)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.RNC)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Telefono1)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Telefono1)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Telefono2)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Telefono2)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Fax)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Fax)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.TerminosdePago)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TerminosdePago)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Creado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Creado)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CreadoNombreUsuario)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreadoNombreUsuario)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Modificado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Modificado)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ModificadoNombreUsuario)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ModificadoNombreUsuario)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end" style="background-color:#E8E8E8;">
            <form asp-action="Delete" id="form">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="hidden" asp-for="Codigo" />
                    </div>
                    <div class="col-sm-4 text-center">
                        <button onclick="Confirmar()" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Eliminar</button>
                    </div>
                    <div class="col-sm-4 text-end">
                        <a asp-action="Index" type="button" style="background-color:white;color:red;" class="btn"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function Confirmar() {
            if (confirm("Esta seguro que desea eliminarlo?")) {
                $.ajax({
                    data: $('#form').serialize(),
                    type: "POST",
                    url: "/Proveedores/Delete",
                    success: function(response) {
                        if (response) {
                            window.location.href = "/Proveedores/Index?Mensaje=Se ha eliminado exitosamente!!!";
                        }
                    },
                });
            }
        }
    </script>
    }