@model ApotheGSF.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Details";

    string fotoUrl = appSettings.Value.UserSinFoto;

    if (Model.Foto != null)
    {
        fotoUrl = appSettings.Value.UrlFotosUsuario + Model.Foto;
    }
}

<h3 class="text-center"><i class="fas fa-list"></i>&nbsp;Detalle Usuario&nbsp<i class="fas fa-list"></i></h3>

<div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-6">
    <div class="card">
        <div class="card-header text-center" style="background-color:#E8E8E8">
            <h3>Información del Usuario</h3>
            <center>
                <div class="row">
                    <div class="form-group col-md-12" style="color:white;">
                        <img id="preview" src="@Url.Content(fotoUrl)" width="100" height="100" />
                        <br />
                        <br />
                    </div>
                </div>
            </center>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Codigo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Codigo)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Cedula)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Cedula)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FechaNacimiento)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Usuario)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Rol)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Rol)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Creado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Creado)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CreadPor)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreadPor)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Modificado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Modificado)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ModificadoPor)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ModificadoPor)
                </dd>
            </dl>
        </div>

        <div class="card-footer" style="background-color:#E8E8E8">
            <form asp-action="Details">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="hidden" asp-for="Codigo" />
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4 text-end">
                        <a asp-action="Index" type="button" class="btn" style="background-color:white;color:red;"><i class="fas fa-times"></i>&nbsp;Cerrar</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
