@model ReflectionIT.Mvc.Paging.PagingList<ApotheGSF.ViewModels.UsuarioViewModel>
@using ApotheGSF.Models;
@using ReflectionIT.Mvc.Paging;
@{
    ViewData["Title"] = "Index";
}

<div class="form-group row">
    <div class="col-sm-3">
        <div class="row">
            <form method="get" class="form-inline" asp-action="Index">
                <div class="input-group mb-3">
                    <input type="text" name="filter" class="form-control" placeholder="Filtro"
                           aria-label="Filtro" aria-describedby="btnSubmit"
                           value="@Model.RouteValue["Filter"]" />
                    <button class="btn btn-outline-secondary" type="submit" id="btnSubmit">Buscar</button>
                </div>
                <input type="hidden" value="1" name="search" />
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <h3 class="text-center"><i class="fas fa-user"></i>&nbsp;Consulta de Usuarios&nbsp<i class="fas fa-user"></i></h3>
    </div>
    <div class="col-sm-3">
    </div>
</div>

<div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-12">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.SortableHeaderFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Cedula)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Email)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Rol)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rol)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Codigo" style="color:#FFB300;"><i class="fas fa-pencil-alt"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Codigo" style="color:black;"><i class="fas fa-align-justify"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Codigo" style="color:#CC2200;"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="text-center">
    <nav aria-label="navigation">
        <vc:pager paging-list="@Model" />
    </nav>
</div>
