@model IEnumerable<ApotheGSF.Models.MedicamentosCajas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAdquirido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detallada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAdquirido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detallada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CajaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CajaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CajaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
