@model ApotheGSF.ViewModels.FacturaViewModel

@{
    ViewData["Title"] = "Create";

    int MedicamentoId = 0;
    int LaboratorioId = 0;
    int TipoCantidad = 1;
    int Cantidad = 0;
}

<form asp-action="Create" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-11">
        <div class="card">
            <div class="card-header text-center" style="background-color:#990000;">
                <h3 class="display-8" style="color:white;"><i class="fa-solid fa-cash-register"></i>&nbsp;Facturacion de Medicamento&nbsp;<i class="fa-solid fa-cash-register"></i></h3>
            </div>
            <!--datos-->
            <div class="card-body">
                <!--Agregar Medicamento-->
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="col">
                            <label class="col-form-label">Medicamento:</label>
                            <select asp-for="@MedicamentoId" class="form-control" asp-items="ViewBag.MedicamentosId" placeholder="Seleccione un Medicamento">
                                <option value="">Seleccione un Medicamento</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="col">
                            <label class="col-form-label">Laboratorio:</label>
                            <select asp-for="@LaboratorioId" class="form-control" placeholder="Seleccione un Laboratorio" asp-items="ViewBag.LaboratoriosId">
                                <option value="">Seleccione un Laboratorio</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="col">
                            <label class="col-form-label">TipoCantidad:</label>
                            <select asp-for="@TipoCantidad" class="form-control">
                                <option value="1">Cajas</option>
                                <option value="2">Unidades</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="col">
                            <label class="col-form-label">Cantidad:</label>
                            <input asp-for="@Cantidad" type="number" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="text-end ">
                        <button class="btn" style="background-color:white;color:blue;" onclick="AgregarDetalle()" type="button">
                            <i class="fas fa-arrow-down"></i>&nbsp;Agregar
                        </button>
                    </span>
                </div>

                <!--Detalle-->
                <div class="table-responsive" style="height: 200px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Medicamento
                                </th>
                                <th>
                                    Laboratorio
                                </th>
                                <th>
                                    Tipo Cantidad
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    Total
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="ListaDetalle">
                            @Html.EditorFor(model => model.MedicamentosDetalle)
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8">
                        @*<div class="form-group col-sm-8 row">
                        <div class="col-sm-4">
                        <label for="Estado" class="col-form-label">Estado</label>
                        </div>
                        <div class="col-sm-8">
                        <select asp-for="Estado" type="text" class="form-control">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-sm-4">
                        </div>*@
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="FechaIngreso" class="col-form-label">SubTotal</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="number" asp-for="SubTotal" class="form-control text-end" readonly value="0.00">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label">ITBIS</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="number" id="itbis" class="form-control text-end" disabled value="0.00">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label">Total</label>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for="Total" type="number" class="form-control text-end" readonly value="0.00">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fin datos-->
            </div>
            <div class="card-footer text-center" style="background-color:#990000;">
                <!--Botones-->
                <button class="btn btn-secondary" type="reset" style="background-color:white;color:#494949;"><i class="fas fa-file"></i>&nbsp;Nuevo</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="button" class="btn" onclick="Facturar()" style="background-color:white;color:#007000;"><i class="fa-solid fa-cash-register"></i>&nbsp;Facturar</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn" asp-controller="Home" asp-action="Index" type="button" style="background-color:white;color:red;"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
                <!--Fin Botones-->
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function() {
            $('#MedicamentoId').change(function() {
                var Id = $(this).val();
                if (Id == '') {
                    return;
                }
                url = '@this.Url.Content("~/")' + "Laboratorios/ObtenerLaboratorios?CodigoMedicamento=" + Id;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        fillSelectList("LaboratorioId", data);
                    });
            });

            ///Limpia y llena un select con datos en formato json pasados en data
            function fillSelectList(Id, data) {
                var element = "#" + Id;

                var selector = $(element).selectize().data('selectize');
                selector.clearOptions();

                for (let i = 0; i < data.length; i++) {
                    selector.addOption({ value: data[i]["codigo"], text: data[i]["nombre"]});
                }
            }
        });
    </script>

    <script src="~/js/AgregarFacturaDetalle.js"></script>
    <script src="~/js/RemoverFacturaDetalle.js"></script>
    <script src="~/js/Facturar.js"></script>
    }