@model ApotheGSF.ViewModels.FacturaViewModel

@{
    ViewData["Title"] = "Delete";
    int i = 1;
}

<h3 class="text-center"><i class="fa-solid fa-cash-register"></i>&nbsp;Eliminar Factura&nbsp<i class="fa-solid fa-cash-register"></i></h3>

<form asp-action="Delete" id="form">
    <div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-10">
        <div class="card">
            <div class="card-header text-center" style="background-color:#E8E8E8">
                <h3>Esta seguro que desea eliminar esta Factura?</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Codigo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Creado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Creado)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CreadoNombreUsuario)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CreadoNombreUsuario)
                    </dd>
                    </dd>
                </dl>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Nombre Medicamento
                            </th>
                            <th>
                                Tipo Cantidad
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Cajas Abiertas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.MedicamentosDetalle.Count; j++)
                        {
                            @Html.HiddenFor(model => Model.MedicamentosDetalle[j].CodigoDetalle)
                            @for (int k = 0; k < Model.MedicamentosDetalle[j].CodigosCajas.Count; k++)
                            {
                                @Html.HiddenFor(model => Model.MedicamentosDetalle[j].CodigosCajas[k])
                            }
                            @Html.HiddenFor(model => Model.MedicamentosDetalle[j].NombreMedicamento)
                            @Html.HiddenFor(model => Model.MedicamentosDetalle[j].TipoCantidad)
                            @Html.HiddenFor(model => Model.MedicamentosDetalle[j].Cantidad)
                            @Html.HiddenFor(model => Model.MedicamentosDetalle[j].Precio)
                            @Html.HiddenFor(model => Model.MedicamentosDetalle[j].Total)

                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Model.MedicamentosDetalle[j].NombreMedicamento
                                </td>
                                <td>
                                    @if (Model.MedicamentosDetalle[j].TipoCantidad == 1)
                                    {
                                        @:Cajas
                                    }
                                    else
                                    {
                                        @:Unidades
                                    }
                                </td>
                                <td>
                                    @Model.MedicamentosDetalle[j].Cantidad
                                </td>
                                <td>
                                    @Model.MedicamentosDetalle[j].Precio
                                </td>
                                <td>
                                    @Model.MedicamentosDetalle[j].Total
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            @if (Model.MedicamentosDetalle[j].TipoCantidad == 1)
                                            {
                                                <input type="number" class="form-control" asp-for="MedicamentosDetalle[j].CantidadAbierto">
                                            }
                                            else
                                            {
                                                <input type="hidden" class="form-control" asp-for="MedicamentosDetalle[j].CantidadAbierto">
                                            }
                                        </div>
                                        <div class="col-sm-8">
                                            <label><input type="checkbox"  asp-for="MedicamentosDetalle[j].Abierto"> Fue Abierto?</label>
                                        </div>
                                    </div>                                    
                                </td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
                <hr />
                <dl class="row text-end">
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </dt>
                    <dd class="col-sm-2">
                        @Html.DisplayFor(model => model.SubTotal)
                    </dd>
                    <dt class="col-sm-10">
                        ITBIS
                    </dt>
                    <dd class="col-sm-2">
                        <text>@((Model.SubTotal * 0.18).ToString("0.00"))</text>
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd class="col-sm-2">
                        @Html.DisplayFor(model => model.Total)
                    </dd>
                </dl>
            </div>

            <div class="card-footer" style="background-color:#E8E8E8">

                <div class="row">
                    <div class="col-sm-4">
                        <input type="hidden" asp-for="Codigo" />
                    </div>
                    <div class="col-sm-4 text-center">
                        <button onclick="Confirmar()" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Eliminar</button>
                    </div>
                    <div class="col-sm-4 text-end">
                        <a asp-action="Index" type="button" class="btn" style="background-color:white;color:red;"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function Confirmar() {
            if (confirm("Esta seguro que desea eliminarlo?")) {
                $.ajax({
                    data: $('#form').serialize(),
                    type: "POST",
                    url: "/Facturas/Delete",
                    success: function(response) {
                        if (response) {
                            window.location.href = "/Facturas/Index?Mensaje=Se ha eliminado exitosamente!!!";
                        }
                    },
                });
            }
        }
    </script>
    }