@model ReflectionIT.Mvc.Paging.PagingList<ApotheGSF.Models.Facturas>
@using ApotheGSF.Models;
@using ReflectionIT.Mvc.Paging;

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="form-group row">
    <div class="col-sm-4">
        <div class="row">
            <form method="get" class="form-inline" asp-action="Index">
                <div class="input-group mb-3">
                    <input type="datetime-local" name="desde" class="form-control" placeholder="Desde"
                           aria-label="Desde" aria-describedby="btnSubmit"
                           value="@Model.RouteValue["Desde"]" />
                    <input type="datetime-local" name="hasta" class="form-control" placeholder="Hasta"
                           aria-label="Hasta" aria-describedby="btnSubmit"
                           value="@Model.RouteValue["Hasta"]" />
                    <button class="btn btn-outline-secondary" type="submit" id="btnSubmit">Buscar</button>
                </div>
                <input type="hidden" value="1" name="search" />
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <h3 class="text-center"><i class="fa-solid fa-cash-register"></i>&nbsp;Consulta de Facturas&nbsp<i class="fa-solid fa-cash-register"></i></h3>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<div class="container shadow-lg p-3 rb-5 bg-light rounded col-md-12">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Creado)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.SubTotal)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.Total)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Creado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Codigo" style="color:#FFB300;"><i class="fas fa-pencil-alt"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Codigo" style="color:black;"><i class="fas fa-align-justify"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Codigo" style="color:#CC2200;"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    i = i + 1;
                }
            </tbody>
        </table>
        <div class="card-footer text-center">
            <button class="btn" onclick='Reporte("@ViewBag.Desde", "@ViewBag.Hasta")' style="color:#00308F;">Generar Reporte</button>
        </div>
    </div>
</div>

<div class="text-center">
    <nav aria-label="navigation">
        <vc:pager paging-list="@Model" />
    </nav>
</div>

@section Scripts {
    <script>
        function Reporte(desde, hasta) {
            var url = '@Url.Action("ReporteFacturas","Facturas")?desde=' + desde + '&hasta=' + hasta;
            window.open(url, "_blank");
        };
    </script>

    }