@model ApotheGSF.ViewModels.FacturaViewModel

@{
    Layout = "_LayoutPDF";
    double contador = 0;
}
<dl>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Codigo) &nbsp; @Html.DisplayFor(model => model.Codigo)
    </dt>
</dl>

<div class="container p-1 rounded col-md-12" style="background-color:black;">
    <div class="card">
        <table class="table">
            <thead style="background-color:#EFEFEF;">
                <tr class="text-center">
                    <th>
                        Nombre Medicamento
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MedicamentosDetalle)
                {
                    <tr>
                        <td>
                            @item.NombreMedicamento
                        </td>
                        <td class="text-center">
                            @item.Cantidad
                        </td>
                        <td class="text-end">
                            @item.Precio
                        </td>
                        <td class="text-end">
                            @item.Total
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="card-body">
            <dl class="row text-end">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SubTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SubTotal)
                </dd>
                <dt class="col-sm-2">
                    <label>ITBIS</label>
                </dt>
                <dd class="col-sm-10">
                    @foreach(var item in Model.MedicamentosDetalle){
                        contador = contador + (item.Total * 0.18);
                    }
                    <p>@contador</p>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Total)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Total)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <p>Gracias por preferirnos!!</p>
        </div>
    </div>
</div>

