@model ApotheGSF.ViewModels.FacturaViewModel

@{
    Layout = "_LayoutPDF";
    double contador = 0;
}
<dl>
    <dt class="col-sm-2">
        Factura No.: &nbsp; @Html.DisplayFor(model => model.Codigo)
    </dt>
</dl>

<div class="container p-1 rounded col-md-12" style="background-color:black;">
    <div class="card">
        <table class="table">
            <thead style="background-color:#EFEFEF;">
                <tr class="text-center">
                    <th>
                        Medicamento
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MedicamentosDetalle)
                {
                    <tr>
                        <td>
                            @item.NombreMedicamento
                        </td>
                        <td class="text-center">
                            @item.Cantidad
                        </td>
                        <td class="text-end">
                            @item.Precio.ToString("n2")
                        </td>
                        <td class="text-end">
                            @item.Total.ToString("n2")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="card-body">
            <dl class="row text-end">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.SubTotal)
                    <pre style='display:inline'></pre>
                    @Html.DisplayFor(model => model.SubTotal)
                </dt>
                <dt class="row">
                    @foreach (var item in Model.MedicamentosDetalle)
                    {
                        contador = contador + (item.Total * 0.18);
                    }
                    ITBIS:&nbsp&nbsp<pre style='display:inline'></pre>
                    @contador.ToString("n2")                    
                </dt>
                <dt class="row">
                    @Html.DisplayNameFor(model => model.Total)
                    <pre style='display:inline'></pre>
                    @Html.DisplayFor(model => model.Total)
                </dt>
            </dl>
        </div>
        <div class="card-footer text-center">
            <h6>Le antendió el sr./sra. @ViewData["Nombre"]</h6>
            <p>Gracias por preferirnos!!</p>
        </div>
    </div>
</div>

