@model ApotheGSF.Clases.MedicamentosDetalle

<input type="hidden" asp-for="DetalleId"/>

@for (int j = 0; j < Model.CajasId.Count; j++)
{
    @Html.HiddenFor(model => Model.CajasId[j])
}

<tr>
    <td>
        <input type="hidden" asp-for="NombreMedicamento" />
        @Model.NombreMedicamento
    </td>
    <td>
        <input type="hidden" asp-for="TipoCantidad" />
        @if (Model.TipoCantidad == 1)
        {
            @:Cajas
        }
        else
        {
            @:Unidades
        }
    </td>
    <td>
        <input type="hidden" asp-for="Cantidad" />
        @Model.Cantidad
    </td>
    <td>
        <input type="hidden" asp-for="Precio" />
        @Model.Precio
    </td>
    <td>
        <input type="hidden" asp-for="Total" />
        @Model.Total
    </td>
    <td>
        <i class="fas fa-trash-alt" type="button" style="color:red;" onclick="RemoverDetalle(@Model.DetalleId)"></i>
    </td>
</tr>