@model ApotheGSF.Clases.MedicamentosDetalle

<input type="hidden" asp-for="CodigoDetalle" />
<input type="hidden" asp-for="CodigoMedicamento" />
<input type="hidden" asp-for="CodigoLaboratorio" />

<tr>
    <td>
        <input type="hidden" asp-for="CodigoCaja" />
        @Model.CodigoCaja
    </td>
    <td>
        <input type="hidden" asp-for="NombreMedicamento" />
        @Model.NombreMedicamento
    </td>
    <td>
        <input type="hidden" asp-for="NombreLaboratorio" />
        @Model.NombreLaboratorio
    </td>
    <td>
        <input type="hidden" asp-for="TipoCantidad" />
        @if (Model.TipoCantidad == 1)
        {
            @:Caja
        }
        else
        {
            @:Unidades
        }
    </td>
    <td>
        <input type="hidden" asp-for="Cantidad" />
        @Model.Cantidad
    </td>
    <td>
        <input type="hidden" asp-for="Precio" />
        @Model.Precio
    </td>
    <td>
        <input type="hidden" asp-for="Total" />
        @Model.Total
    </td>
    <td>
        <i class="fas fa-trash-alt" type="button" style="color:red;" onclick="RemoverDetalle(@Model.CodigoDetalle)"></i>
    </td>
</tr>